* {
   box-sizing: border-box;
}

body {
    background: #f4f4f4;
    font-family: Arial, Arial, Helvetica, sans-serif;
     /* easiest way to display everything horizantally and vertically is with flex */
    /*  this aligns the flex items horizontally  */
    display: flex;
    /* change direction to column instead of row */
    flex-direction: column;
    /*  align to center */
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    /* align side bar and main area horizontal */
    display: flex;
    padding: 20px;
    margin: 0 auto;
    max-width: 100%;
    width: 800px;
}

/* side bar */
aside {
    padding: 10px 20px;
    /* moved buttons to side */
    width: 250px;
    /* added vertical line to right of buttons */
    border-right: 1px solid #111;
}

button {
    cursor: pointer;
    background-color: #fff;
    border: solid 1px #111;
    /* rounds the buttons */
    border-radius: 5px;
    /* puts each button on its own line */
    display: block;
    /* padding makes each button bigger */
    padding: 10px;
    /* margin separates them so their not on top of each other */
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
}

main {
    flex: 1;
    /* moves over the text person weath from the vertical line */
    padding: 10px 20px;
}

h2 {
    /* line benieth text person wealth */
    border-bottom: 1px solid #111;
    /* padding between text and line */
    padding-bottom: 10px;
    display: flex;
    /* takes space at end and moves it inbetween person and wealth */
    justify-content: space-between;
    font-weight: 300;
    /* pushes text and line up */
    margin: 0 0 20px;
}

h3 {
    background-color: #fff;
    border-bottom: 1px solid #111;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    margin: 20px 0 0;
}

.person {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 10px;
}